header {
    background-image: url(img/header-photo.png);
    height: 600px;
    background-size: cover;
    background-attachment: fixed;


}

body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 10%;
    color: white;
    font-size: 3.5em;
    margin-top: 0;

}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column  {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column  {
      width: 100%;
    }